body {
  background-color: rgb(8, 8, 8);
}

header {
}

footer {
  margin: 0 20px 0px 20px;

  border: 2px azure solid;

  font-size: 52px;
  border-radius: 15px;
  margin-top: 14px;
}

h2 {
  margin-top: 50px;
  text-align: left;
  font-size: 36px;
  margin-bottom: 20px;
}

p2 {
  width: 60%;
  word-wrap: break-word;
  text-align: left;
  font-size: 26px;
  font-style: italic;
}
/* body {
  margin: 50px;
  background-color: azure solid;
} */

section {
  border-radius: 15px;
  margin: 0 20px 0px 20px;
  height: 100px;
  /* width: 100%; */
  border: 2px azure solid;
  color: white;
  text-align: center;
}

nav {
  border-radius: 15px;
  margin: 20px;
  margin-top: 10px;
  border: 2px azure solid;
  height: 80px;
  color: azure;
}

a {
  float: right;
  margin-right: 20px;
  font-size: 40px;
  font-weight: 600;
  margin-top: 15px;
}
.main-section {
  display: flex;
  border: none;
}
.section-operations {
  width: 25%;
  margin: 0;
  margin-left: 20px;
  height: auto;
}

.section-project {
  border-radius: 15px 15px 15px 15px;
  overflow-y: scroll;
  height: 650px;
  width: 76%;
}
.img-view {
  margin-left: 20px;
  float: right;
  height: auto;
  width: 20%;
}

.top-section {
  font-weight: 1000;
  font-size: 90px;
  font-weight: 600px;
  border: none;
}

.project {
  border: 1px rgb(157, 161, 161) solid;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  height: auto;
}
.project-text {
  border: none;
  height: auto;
  position: relative;
  width: 75%;
}

h1 {
  margin-top: 15px;
  /* margin: auto; */
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 1px 10px 5px grey;
  border-radius: 15px;
}

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 15px;
} */
::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 15px;
  background-clip: content-box;
  border-color: transparent;
  border-style: solid;
  border-width: 1px 2px;
  background-color: red;
  background-image: border;
  background-image: linear-gradient(360deg, rgb(8, 8, 8) 80%, red 20%);
  background-image: ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    360deg,
    rgb(8, 8, 8) 80%,
    rgb(168, 25, 25) 20%
  );
}
